@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#signin_page {
  @include flex;
  // border: 2px solid red;
  height: 90vh;
}
.signin-box {
  @include flex;
  flex-direction: column;
  border: 1px solid rgb(231, 231, 231);
  padding: 20px;
  //    max-width: 600px;
  width: 400px;

  form {
    @include flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 80%;
    padding: 20px 10px;
    input {
      padding: 10px 10px;
      width: 90%;
      margin: 5px;
      color: rgb(255, 253, 253);
      outline: none;
      &[type="submit"] {
        background-color: rgb(3, 12, 10);
        color: rgb(0, 0, 0);
        cursor: pointer;
      }
    }
  }
}
.question_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .box{
    background-color: #0b1d39;
    width: 35rem;
  }
  .heading{
    overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  }

  .options {
    display: flex;
    align-items: center;

    .option {
      margin: 8px;

      
      .option input[type="radio"] {
        display: none; 
        
      }
      span{
          margin-left: 8px;
      }
      .option-text {
        display: inline-block;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;

        .option-text:hover {
          background-color: #f0f0f0;
        }
      }
      .option input[type="radio"]:checked + .option-text {
              background-color: #007bff;
              color: white;
        }
    }
  }
}