.no-dropdown-icon .ant-select-arrow {
    display: none;
  }
  
.custom-dark-text .ant-select-selector {
  color: #000 !important; 
}

.custom-dark-text .ant-select-selection-item {
  color: #000 !important;
  text-align: center;
}

.dropdown-btn {
  background-color: #1890ff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.chapter-item {
  padding: 6px 12px;
  cursor: pointer;
}

.chapter-item:hover {
  background-color: #000000;
}

.chapter-dropdown .ant-dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

.custom-underline {
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-underline-offset: 5px;
}

